node_modules/*
package-lock.json
renderer/styles/*.css.map
dev/*
test*/*
docker/*

data/workspaces/*
!data/workspaces/workspaces.json

data/docker/*
!data/docker/docker.json

main/bin/*
!main/bin/temp.txt

*/.idea/*
*/venv/*
*/build/*
*/dist/*
*/*.spec
*/*.pyc
**/__pycache__
