node_modules/*
package-lock.json
renderer/styles/*.css.map
dev/*
test*/*
docker/*

data/docker/*
!data/docker/temp.txt

data/logging/*
!data/logging/temp.txt

data/workspaces/*
!data/workspaces/temp.txt

main/bin/*
!main/bin/temp.txt

**/.idea/*
**/venv/*
**/build/*
**/dist/*
**/*.spec
*/*.pyc
**/__pycache__
