# These owners will be the default owners for everything in the repo.
*           @mhmdkrmabd @digiserg @millerjp @rgooding @brainJamStark
*.js        @mhmdkrmabd @digiserg @millerjp @rgooding @brainJamStark
.github/*   @digiserg @digiserg @rgooding @brainJamStark
