altgraph==0.17.4
cassandra-driver==3.25.0
cffi==1.16.0
click==8.1.7
cryptography==42.0.4
Cython==0.29.37
geomet==0.2.1.post1
jaraco.classes==3.4.0
jeepney==0.8.0
keyring==21.5.0
keyrings.alt==4.2.0
macholib==1.16.3
more-itertools==10.2.0
packaging==24.0
pycparser==2.22
pycryptodome==3.19.1
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2024.6
pytz==2022.7.1
SecretStorage==3.3.3
six==1.16.0
