<!-- The intro view which is shown while loading the main (index) view -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/master.css">
  <link rel="stylesheet" href="../styles/intro.css">
  <script src="../js/intro.js"></script>
</head>

<body>
  <center>
    <div class="icon">
      <img src="../assets/images/icon-colored.png">
    </div>
    <div class="info">
      <div id="title"></div>
      <div class="version">v<span id="version"></span></div>
    </div>
    <div class="loading"></div>
  </center>
</body>
