/**
* Most styles related specifically to the MDB modal
*/
div.modal {
  div.form-outline.margin-bottom {
    margin-bottom: 45px;

    &.sm {
      margin-bottom: 25px;
    }
  }

  .btn {
    ion-icon {
      font-size: 120%;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

div.modal {
  &#addEditClusterDialog,
  &#appAbout,
  &#appSettings,
  &#clusterCredentials {
    div.modal-dialog {
      transition: transform 0.3s ease-out, max-width 0.2s ease-in-out;

      &.expanded {
        div.modal-content {
          div.modal-body {
            height: 500px;
          }
        }
      }
    }

    div.modal-body {
      display: flex;
      height: 430px;
      flex: {
        direction: row;
        wrap: nowrap;
      }
      align-items: flex-start;
      justify-content: flex-start;
      padding: var(--mdb-modal-padding) !important;
      transition: height 0.2s ease-in-out;

      div.side-left {
        background: #202023;
        border-radius: 10px;
        width: 200px;
        box-shadow: 0 0 0 5px #262626;
        margin-right: 20px;

        div.sections {
          padding: 10px;

          div.seperator {
            position: relative;
            margin: 5px 0;
            opacity: 0.8;

            &:before {
              content: '';
              @include position(absolute, 0, 0, auto);
              width: 100%;
              height: 2px;
              background: #dfe7f6;
              border-radius: 100px;
            }

            span.badge {
              position: relative;
              font-size: 65%;
              margin-left: 4px;
            }
          }

          div.section {
            border-radius: 5px;

            ion-icon[name="external-link"] {
              margin-left: 5px;
              position: relative;
              bottom: 1px;
            }

            div.btn {
              width: 100%;
              text: {
                align: left;
                transform: capitalize;
              }
              padding-left: 5px;
              color: inherit;
              transition: opacity 0.2s ease-in-out;
              opacity: 0.4;

              &:hover {
                opacity: 0.8;
              }

              &.active {
                opacity: 1;
              }
            }
          }
        }
      }

      div.side-right {
        width: calc(100% - 220px);
        overflow-y: scroll;
        @include scrollbar(#515151, #262626);

        div.modal-section {
          height: 400px;
          padding: 5px 10px 0 0;

          &[section="variables"] {
            div.sub-header {
              display: flex;
              height: 29px;
              flex: {
                direction: row;
                wrap: nowrap;
              }
              align-items: center;
              justify-content: space-between;
              opacity: 0.9;

              a {
                display: flex;
                color: inherit;
                text-transform: capitalize;
                flex: {
                  direction: row;
                  wrap: nowrap;
                }
                align-items: center;

                ion-icon[name="plus"] {
                  font-size: 171%;
                }

                &[action="delete"],
                &[action="refresh"] {
                  transition: opacity 0.25s ease-in-out;
                  opacity: 0;
                  pointer-events: none;

                  &.show {
                    opacity: 1;
                    pointer-events: all;
                  }
                }
              }
            }

            div.variables-list {
              position: relative;
              height: calc(100% - 60px);
              margin-top: 25px;
              overflow-y: scroll;
              @include scrollbar(#2c2c2c, #262626);

              div.content {
                padding: 5px 0;

                div.variable {
                  div.right-margin {
                    margin-right: 4px;
                    width: calc(100% - 4px);
                  }

                  div.left-margin {
                    margin-left: 4px;
                    width: calc(100% - 4px);
                  }

                  [class*="col-"].flex {
                    display: flex;
                    flex: {
                      direction: column;
                      wrap: nowrap;
                    }
                    justify-content: center;

                    div.actions {
                      display: flex;
                      width: calc(100% - 9px);
                      flex: {
                        direction: row;
                        wrap: nowrap;
                      }
                      align-items: center;
                      justify-content: space-between;
                      margin-left: 9px;

                      a[action] {
                        width: 100%;
                        padding: 0 2px;
                        color: inherit;
                        text: {
                          transform: capitalize;
                          align: -webkit-center;
                        }
                        opacity: 0.25;
                        transition: opacity 0.2s ease-in-out;

                        &:hover {
                          opacity: 0.5;
                        }

                        &.active {
                          opacity: 0.75;
                        }

                        &[action="multiple"] {
                          opacity: 0.8;
                          cursor: default;

                          input {
                            position: relative;
                            bottom: 1px;
                            left: 3px;
                            transform: scale(0.82);
                            cursor: pointer;
                          }
                        }

                        ion-icon[name="trash"] {
                          position: relative;
                          left: 2px;
                          font-size: 139%;
                        }
                      }
                    }
                  }

                  &:not(:last-child),
                  &:not(:last-of-type) {
                    margin-bottom: 25px;
                  }

                  div.workspaces {
                    display: flex;
                    height: fit-content;
                    line-height: 17px;
                    flex: {
                      direction: row;
                      wrap: wrap;
                    }
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-top: 9px;
                    text-align: start;

                    div.btn.workspace {
                      display: inline-block;
                      height: inherit;
                      line-height: 1;
                      text: {
                        transform: inherit;
                        align: center;
                      }
                      padding: 0.35em 0.65em;
                      font: {
                        size: 0.75em;
                        weight: 500;
                      }
                      color: inherit;
                      white-space: nowrap;
                      vertical-align: baseline;
                      border-radius: 0.27rem;
                      overflow: hidden;
                      box-shadow: 0 0;
                      background: #1b1b1e;
                      opacity: 0.4;
                      transition: opacity 0.2s ease-in-out;
                      margin: 0 1px;
                      cursor: pointer;

                      &:first-child,
                      &:first-of-type {
                        margin: 0 1px 0 0;
                      }

                      &:last-child,
                      &:last-of-type {
                        margin-right: 0;
                      }

                      &:hover {
                        opacity: 0.65;
                      }

                      &[data-selected="true"] {
                        opacity: 0.9;
                      }

                      span.color {
                        position: relative;
                        top: 1px;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 1px;
                        background: #373739;
                      }
                    }
                  }
                }
              }

              div.empty {
                @include position();
                transition: opacity 0.2s ease-in-out;
                opacity: 0;
                transition-duration: 0s;
                pointer-events: none;

                div.sub-content {
                  @include position();
                  height: 80%;

                  lottie-player {
                    opacity: 0.15;
                  }

                  div.message {
                    @include position();
                    width: fit-content;
                    height: fit-content;
                    transform: translateY(80px);
                    font-weight: 200;
                    opacity: 0.5;
                  }
                }
              }

              &.empty {
                div.empty {
                  transition-duration: 0.2s;
                  opacity: 1;
                  pointer-events: all;
                }
              }
            }
          }
        }
      }

      div.test-connection {
        @include position();
        background: rgba(38, 38, 38, 0.6);
        pointer-events: none;
        transition: opacity 0.15s ease-in-out;
        opacity: 0;
        z-index: 2;

        div.sub-content {
          @include position();
          height: 100%;
          opacity: 0.7;

          lottie-player {
            transform: scale(0.4);
          }
        }
      }

      div.editor-container {
        @include position(absolute, 0, auto);
        width: 100%;
        height: 100%;
        background: inherit;
        pointer-events: none;
        opacity: 0;
        z-index: 2;

        .editor {
          @include position();
        }
      }
    }

    &.show-editor {
      div.modal-body {
        overflow: hidden;

        .editor-container {
          pointer-events: all;
          opacity: 1;
        }
      }
    }

    div.modal-footer {
      display: block;

      div.float-left {
        float: left;
      }

      div.float-right {
        float: right;
      }
    }

    &.test-connection {
      div.modal-content {
        div.modal-body {
          div.test-connection {
            opacity: 0.9;
            pointer-events: all;
          }
        }
      }
    }

    div.form-helper {
      font-size: 75% !important;
    }

    button.expand-editor {
      margin-left: 10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease-in-out;

      ion-icon {
        color: #e3e3e3;
        opacity: 0.7;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        ion-icon {
          opacity: 0.9;
        }
      }

      &.show {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &#appAbout {
    div.side-left {
      width: 250px !important;

      div.sections {
        max-height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }
      }
    }

    div.side-right {
      width: calc(100% - 270px) !important;
    }
  }

  &#loadSnapshot {
    div.snapshots {
      max-height: 400px;
      overflow-y: scroll;
      padding-right: 10px;
      @include scrollbar(#515151, #262626);

      div.snapshot {
        background: #1d1d1e;
        display: flex;
        flex: {
          direction: row;
          wrap: nowrap;
        }
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 8px;

        div._left {
          div.name {
            margin-bottom: 2px;
            white-space: nowrap;
            width: 280px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          div.badges {
            font-size: 85%;
            opacity: 0.85;
          }
        }

        div._right {
          display: flex;
          flex: {
            direction: row;
            wrap: nowrap;
          }
          align: {
            items: center;
            content: center;
          }
          justify-content: space-between;

          a {
            opacity: 0.8;

            &[action="multiple"] {
              cursor: default;

              input {
                position: relative;
                top: 1px;
                transform: scale(0.85);
              }
            }

            ion-icon {
              position: relative;
              left: 3px;
              font-size: 135%;
              color: #e3e3e3;

              &[name="trash"] {
                opacity: 0.8;
              }
            }
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }

    div.actions-multiple {
      margin-bottom: 15px;
      transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;
      height: 0;

      a {
        color: inherit;
        text-transform: capitalize;
      }

      &.show {
        height: 29px;
      }
    }
  }

  &#addEditWorkspaceDialog {
    div.preview-color {
      position: relative;
      background: #4e4e4e;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      transition: background 0.1s linear;
    }
  }

  &#addEditClusterDialog div.modal-header span.badge.badge-secondary {
    position: relative;
    top: 1px;
    margin-left: 8px;
    opacity: 0.8;
    display: none;

    &[data-edit-workspace-id] {
      div.modal-header span.badge.badge-secondary {
        display: block;
      }
    }
  }

  &#clusterCredentials {
    div.modal-body {
      display: flex;
      flex: {
        direction: column;
        wrap: nowrap;
      }
      align-items: stretch;
      justify-content: flex-start;
      height: 350px;

      div.side-left {
        width: 100%;
        margin: 0 0 20px;

        div.sections {
          display: flex;
          flex: {
            direction: row;
            wrap: nowrap;
          }
          justify-content: space-around;
          align-items: center;

          div.section {
            width: 100%;

            div.btn {
              text-align: center;
            }
          }
        }
      }

      div.side-right {
        width: 100%;

        div.modal-section {
          height: 230px;
          display: none;

          &[section="authentication"] {
            display: block;
          }
        }
      }
    }

    &.one-only {
      div.modal-body {
        height: 270px;

        div.side-left {
          display: none;
        }
      }

      &.auth {
        div.modal-body div.side-right div.modal-section {
          &:not([section="authentication"]) {
            display: none !important;
          }

          &[section="authentication"] {
            display: block !important;
          }
        }
      }

      &.ssh {
        div.modal-body div.side-right div.modal-section {
          &:not([section="ssh-tunnel"]) {
            display: none !important;
          }

          &[section="ssh-tunnel"] {
            display: block !important;
          }
        }
      }
    }

    div.modal-section[section="ssh-tunnel"] {
      div.form-outline.margin-bottom {
        margin-bottom: 25px !important;
      }
    }
  }
}

input[type="file"],
div.form-outline[role="file-selector"] {
  font-size: 100% !important;

  &::file-selector-button {
    display: none;
  }

  &:before {
    content: attr(file-info);
    border-right: 1px #4e4e4e solid;
    margin-right: 10px;
    padding-right: 10px;
    color: #e3e3e3;
  }

  &:after {
    content: '';
    display: none;
  }

  &.initial {
    color: transparent !important;

    &:before {
      position: relative;
      top: 6px;
      height: 19px;
      line-height: 19px;
      float: left;
    }

    &:after {
      content: attr(data-initial);
      color: #fff;
      float: left;
      display: block;
    }
  }
}

div.form-outline[role="file-selector"] {
  display: flex;
  height: 44.61px;

  &:before {
    content: attr(file-info);
    border-right: 1px #4e4e4e solid;
    color: #e3e3e3;
    height: 50%;
    margin: 0 10px;
    padding-right: 8px;
    line-height: 20px;
    white-space: nowrap;
  }

  &:after {
    content: attr(file-name);
    display: block;
    color: #e3e3e3;
    height: 50%;
    margin: 0 10px 0 0;
    padding-right: 8px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }

  input {
    @include position();
    background: inherit !important;
    color: transparent !important;
    cursor: pointer;
  }
}

div.form-outline {
  div.reveal-password {
    @include position(absolute, 0, 0, 6px, auto);
    display: flex;
    flex: {
      direction: column;
      wrap: nowrap;
    }
    align: {
      items: center;
      content: center;
    }
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;

    div.btn {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0.8;

      ion-icon {
        @include position();
        color: #e3e3e3;
        font-size: 150%;
      }
    }
  }

  div.form-helper {
    bottom: -24px;
  }

  &.file {
    padding-top: 2px;
  }
}

div.form-check {
  label {
    position: relative;
    bottom: 1px;
  }
}

div.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.show {
    opacity: 0.5;
  }
}

.modal-backdrop {
  inset: 0;
  margin: auto;
  width: auto;
  height: auto;
}

div.modal-section {
  div.notice {
    background: #373737;
    padding: 7px;
    border-radius: 7px;
    width: 100%;
    text-align: justify;
    font-family: 'Terminal', monospace;
    font-size: 85%;

    div.notice-header {
      position: relative;
      cursor: pointer;

      div.clickable {
        position: absolute;
        inset: 0;
        margin: auto;
      }

      span.badge {
        &.btn {
          border-radius: 0.27rem;
          box-shadow: none;
          text-transform: none;
          padding: var(--mdb-badge-padding-y) var(--mdb-badge-padding-x);
          font-size: var(--mdb-badge-font-size);
          font-weight: var(--mdb-badge-font-weight);
          white-space: nowrap;
          vertical-align: baseline;
          overflow: hidden;
          position: relative;
          top: 5px;
          height: 16.25px;
          cursor: pointer;
          z-index: 1;
        }
      }

      ion-icon[for-pre] {
        position: absolute;
        inset: 0;
        margin: auto;
        left: auto;
        font-size: 150%;
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        ion-icon[for-pre] {
          opacity: 1;
        }
      }

      &.shown-pre {
        ion-icon[for-pre] {
          transform: rotate(180deg);
        }
      }
    }

    pre {
      display: none;
      margin-top: 5px !important;
      font-size: 85% !important;
    }

    &:not(:first-of-type) {
      margin-top: 10px;
    }

    span.link {
      span.content {
        text-decoration: underline;
      }
      opacity: 0.6;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}
