# File: .github/workflows/workflow.yml

on:
  push:
    branches:
      - 43-feat-add-signing-of-windows-builds-to-the-github-pipeline

name: AzureCLISample

jobs:

  sign:
    runs-on: windows-latest
    steps:
      - name: Install AzureSignTool
        run: dotnet tool install --no-cache --global AzureSignTool --version 4.0.1

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Azure token
        run: |
          $az_token=$(az account get-access-token --scope https://vault.azure.net/.default --query accessToken --output tsv)
          echo "::add-mask::$az_token"
          echo "AZ_TOKEN=$az_token" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          curl -LO https://github.com/axonops/axonops-workbench-cassandra/releases/download/0.1.1-internal-20240830/AxonOps.Workbench-0.1.1-internal-20240830-win-x64.exe

      - name: Build signed installer
        run: |
          echo ${{ secrets.AZURE_KEY_VAULT_URI }}
          azuresigntool.exe sign --verbose -kvu ${{ secrets.AZURE_KEY_VAULT_URI }} -kvc ${{ secrets.AZURE_KEYVAULT_CERT_NAME }} -kva %AZ_TOKEN% -fd sha256 -tr http://timestamp.digicert.com -v AxonOps.Workbench-0.1.1-internal-20240830-win-x64.exe
        shell: cmd
